<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contacts</title>
    {% extends "base.html" %}
</head>
<body>
    {% block content %}
    <main>
        <section class="contact_me">
            <h1>Contact us</h1>
            <p>For further information, please, contact us!</p>

            <form method="POST" action="{{ url_for('contact') }}" class="contact-form">
                <div>
                    <label>Your name:</label><br>
                    <input type="text" name="username" required>
                </div>
                <br>
                <div>
                    <label>Your email:</label><br>
                    <input type="email" name="email" required>
                </div>
                <br>
                <div>
                    <label>Message:</label><br>
                    <textarea name="message" rows="5"></textarea>
                </div>
                <br>
                <button type="submit">Send the message</button>
            </form>
        </section>

        <ul class="contact-list">
          <li>
            <strong>Archi Blackwood</strong>
            <address>
              <a href="mailto:archiblackwood@example.com">archiblackwood@example.com</a><br>
              <a href="tel:+0999999999">+38 (099) 999-9999</a>
            </address>
          </li>

          <li>
            <strong>Peter Green</strong>
            <address>
              <a href="mailto:petergreen@example.com">petergreen@example.com</a><br>
              <a href="tel:+0666666666">+38 (066) 666-6666</a>
            </address>
          </li>
          <li>
            <strong>Maria Yevtushenko</strong>
            <address>
              <a href="mailto:mariayevtushenko@example.com">mariayevtushenko@example.com</a><br>
              <a href="tel:+0955555555">+38 (095) 555-5555</a>
            </address>
          </li>

          <li>
            <strong>Lisa Simpson</strong>
            <address>
              <a href="mailto:lisasimpson@example.com">lisasimpson@example.com</a><br>
              <a href="tel:+0677777777">+38 (067) 777-7777</a>
            </address>
          </li>

          <li>
            <strong>Kate Middleton</strong>
            <address>
              <a href="mailto:katemiddleton@example.com">katemiddleton@example.com</a><br>
              <a href="tel:+0988888888">+38 (098) 888-8888</a>
            </address>
          </li>
        </ul>

            </main>
    {% endblock %}
</body>
</html>