<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses page</title>
    {% extends "base.html" %}
</head>
<body>
    {% block content %}
    <main>
        <h2>Here is the list of our courses:</h2>
        <ul>
            {% for c in courses %}
                <li class="languages_list_text"><i><span class="fi fi-{{ c.flag }}"></span>
                        {{ c.name }}</i></li>
            {% endfor %}
        </ul>
    </main>
    {% endblock %}
</body>
</html>