<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "base.html" %}
    <title>Index page</title>

</head>
    {% block content %}

<body>
    <h1>Hello, {{ user_name }}!</h1>
    <p>We are glad that you have chosen our platform to study languages!</p>
    <p>Follow the navigation menu above to review our language courses.</p>
    <img src="{{ url_for('static', filename='images/languages.jpg') }}" alt="Languages photo" width="700">
    <ul>

    </ul>
    {% endblock %}
</body>
</html>