# Секретні змінні оточення (паролі від бази)
.env

# Локальний дамп даних, який ми знімали
datadump.json

# Локальне віртуальне оточення (те саме, що на твоєму Mac)
.venv/
venv/
env/

# Стара база SQLite (вона нам більше не потрібна в Git, тепер у нас Postgres)
*.sqlite3
db.sqlite3

# Кеш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Налаштування PyCharm
.idea/

# Статичні файли, які збирає Docker
staticfiles/