# Секретні змінні оточення (паролі від бази)
project_a_bookstore/.env

# Локальний дамп даних, який ми знімали
project_a_bookstore/datadump.json

# Локальне віртуальне оточення (те саме, що на твоєму Mac)
.venv/
venv/
env/

# Стара база SQLite (вона нам більше не потрібна в Git, тепер у нас Postgres)
*.sqlite3
project_a_bookstore/db.sqlite3

# Кеш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Налаштування PyCharm
.idea/

# Статичні файли, які збирає Docker
staticfiles/

# Тестування та покриття
project_a_bookstore/.coverage
htmlcov/

# Ігноруємо завантаження користувачів, але зберігаємо тестові обкладинки
project_a_bookstore/media/*
!project_a_bookstore/media/covers/