<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Моя книгарня</title>
</head>
<body>
    <h1>Книжкова крамниця</h1>

    <section>
        <h2>Категорії (з підрахунком книг)</h2>
        <ul>
            {% for cat in categories %}
            <li>
                {{ cat.name }} - <strong>Всього книг: {{ cat.total_books }}</strong>
            </li>
            {% endfor %}
        </ul>
    </section>

    <hr>

    <section>
        <h2 style="color: orange;"> 💴 Книжки преміум сегменту 💴</h2>
        <ul>
            {% for book in premium_offers %}
            <li>
                {{ book.title }} - {{ book.price }} грн.
            </li>
            {% endfor %}
        </ul>
    </section>

    <hr>

    <section>
        <h2>Спеціальні пропозиції до 300 грн (Q-фільтр):</h2>
        <ul>
            {% for book in special_offers %}
            <li>
                {{ book.title }} - {{ book.price }} грн.
            </li>
            {% empty %}
            <li>
                Акційних пропозицій поки що немає.
            </li>
            {% endfor %}
        </ul>
    </section>

    <hr>

    <section>
        <h2 style="color: red;">🔥 Акційні пропозиції (Discount) 🔥</h2>
        <ul>
            {% for book in discount_books %}
            <li>
                <strong>{{ book.title }}</strong> - {{ book.price }} грн.
                <br><em>{{ book.description|truncatewords:10 }}</em>
            </li>
            {% empty %}
            <li>Книг зі знижкою наразі немає.</li>
            {% endfor %}
        </ul>
    </section>

    <hr>

    <section>
        <h2>Всі книги в наявності:</h2>
        <ul>
            {% for book in available_books %}
            <li>
                {{ book.title }} (Залишок: {{ book.stock }} шт.)
            </li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>